version: "3.9"

services:
  expo:
    build: .
    container_name: expo-app
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    volumes:
      - .:/app
    command: npx expo start --tunnel
